body {
  margin: 0;
  padding: 0;
  /* background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(255,214,242,1) 100%); */
    background: rgb(70,79,101);
background: linear-gradient(50deg, rgba(70,79,101,1) 15%, rgba(120,174,161,1) 100%, rgba(242,207,161,1) 100%);
    font-family: 'ABeeZee', sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.big-text{
  font-size: 9em;
  color:rgb(221, 254, 255)
}

.headings{
  font-size: 9em;
  color:rgb(221, 254, 255);
}

#nav{
  display: flex;
  justify-content: space-around;
  background-color:rgb(148, 248, 250);
}

.homepage{
  position:relative;
  width: 100%;
  height: 100%;
 

}

.homepage h1{
  z-index: 2;
}

.video{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.color-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(255,214,242,1) 100%);
  z-index: 1;
  opacity: 50%;

}

.gap{
  height: 800px;
}